<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ToDo APP</title>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Links -->
    
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
  </head>
  <body>
    <!-- Main Header -->
    <div class="main-header">
      <div class="navbar">
        <h1>ToDo App</h1>
      </div>
    </div>
    <!-- End Main Header -->
    <div class="main_container" style="display:flex ;  justify-content: center;">
      <div class="addtodo">
        <!-- Add Task -->
        <h2>Update Your Todo</h2>
        <form id="addtask" action="/todo/update/{{todo.id}}" method="POST">
          
          <input
            id="add-task-input"
            class="large"
            type="text"
            name="title"
            placeholder='{{ todo.title }}'
            spellcheck="false"
          />
          <input
            id="add-task-input"
            class="large"
            type="text"
            name="desc"
            placeholder='{{ todo.desc }}'
            spellcheck="false"
          />
          <button type="submit" class="submit-op">Submit</button>
          <!-- <i class="tasks icon"></i> -->
        </form>
        <!--TODO -->
      </div>
      

      
   <!-- <script src={{url_for('static',filename='update.js')}}></script> -->
  </body>
</html>